{% extends 'dicon_app/base.html' %}
{% block title %}{{ customer.company_name }} の詳細{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>{{ customer.company_name }}</h1>    
    <div>
        <a href="{% url 'customer_update' customer.pk %}" class="btn btn-secondary">[　編集する　]</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">[　削除する　]</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p><strong>担当者名:</strong> {{ customer.contact_name }}</p>
        <p><strong>メール:</strong> {{ customer.email }}</p>
    </div>
</div>
        <!-- <p><strong>電話番号:</strong> {{ customer.phone | default:"-" }}</p>
        <p><strong>担当営業:</strong> {{ customer.user | default:"未割り当て" }}</p>
        <p><strong>タグ:</strong></p>           -->
        
<h3 class="mt-4">商談履歴</h3>
<div class="card">
    <div class="card-body">
    </div>
</div>
<hr>
<a href="{% url 'customer_list' %}" class="btn btn-outline-primary ">一覧に戻る</a>
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">削除の確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    本当に　{{ customer.company_name}}を削除しますか？<br>この操作は元に戻せません。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <form action="{% url 'customer_delete' customer.pk %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">はい、削除します</button>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}